.banner {
  width: 100%;
  background-color: @blue-gray;
  background: url("../img/background-image-mobile.jpg") no-repeat;
  background-position: center 75%;
  background-size: cover;
  min-height: 640px;
  padding-top: 68px;
  box-sizing: border-box;

  .tablet ({
    background: url("../img/background-image-tablet.jpg") no-repeat;
    min-height: 940px;
    background-position: center 50%;
    background-size: cover;
    padding-top: 142px
  });

  .desktop ({
    background: url("../img/background-image-desktop.jpg") no-repeat;
    min-height: 800px;
    background-position: center 90%;
    background-size: cover;
    padding-top: 174px;
  });
}

.banner__container {
  .tablet ({
    display: flex;
  });
}

.banner__wrapper {
  .tablet ({
    width: calc(100% - 184px);
    margin-left: auto;
  });

  .desktop ({
    width: 550px;
    margin-right: 196px;
  });
}

.banner__benefits {
  width: calc(100% - 58px);
  margin: 0 auto;

  .tablet ({
    width: auto;
    margin: 0;
  });

  .desktop ({
    width: 502px;
    margin: 0 auto;
  });
}

.banner__title {
  margin-bottom: 28px;

  .tablet ({
    text-align: start;
    margin-bottom: 45px;
  });

  .desktop ({
    margin-bottom: 53px;
  });
}

.banner__link {
  margin-top: 53px;
  padding: 16px 0;
  padding-right: 10.6px;

  .tablet ({
    width: 336px;
    font-size: 28px;
    margin-top: 50px;
    margin-left: 6px;
    letter-spacing: 1.8px;
  });

  .desktop ({
    margin-top: 56px;
    margin-left: 41px;
  });
}
