.button {
  font-family: "Raleway", "Arial", sans-serif;
  background: none;
  border: none;
  padding: 16px 0 16px 0;
  cursor: pointer;
  background-color: @purple;
  color: @white;
  font-size: 20px;
  width: 100%;
  border-radius: 40px;
  letter-spacing: 1px;
}


