.button {
  display: block;
  font-family: "Raleway", "Arial", sans-serif;
  background: none;
  border: none;
  text-decoration: none;
  padding: 14px 0;
  cursor: pointer;
  box-sizing: border-box;
  background-color: @purple;
  color: @white;
  font-size: 20px;
  width: 100%;
  border-radius: 40px;
  text-align: center;
  letter-spacing: 1.2px;

  &:hover {
    background-color: @purple-hover;
  }

  &:active {
    background: none;
    background-color: @purple;
    opacity: .6;
  }

  .tablet ({
    padding: 16px 0;
  });

  .desktop ({
    font-size: 28px;
    padding: 16px 0 18px 0;
  });

  &--small{
    padding: 14px 0;
    font-size: 20px;
  }
}
