.catalog {
  padding: 64px 0;
}

.catalog__title {
  margin-bottom: 64px;
}

.catalog__content {
  .list ();
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(264px, 1fr));
  gap: 24px;

  .tablet ({
    gap: 52px;
  })
}

.catalog__item {
  width: calc(100% - 4px);
}

