.catalog {
  .line-leaf ();
  position: relative;
  padding: 64px 0 98px 0;

  .tablet ({
    padding: 85px 0 144px 0;
  });

  .desktop ({
    padding-top: 103px;
  });
}

.catalog__title {
  margin-bottom: 62px;

  .tablet ({
    margin-bottom: 72px;
  });

  .desktop ({
    margin-bottom: 92px;
  });
}

.catalog__content {
  .list ();
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(264px, 1fr));
  gap: 24.5px;
  margin: 0 2px;

  .tablet ({
    margin: 0 68px;
    gap: 52px;
  });

  .desktop ({
    margin: 0;
    column-gap: 24px;
    row-gap: 52px;
    grid-template-columns: repeat(4, 264px);
  });
}

@media (max-width: 767px) {
  .catalog__item--none {
    display: none;
  }
}
