.form {
  position: relative;
  padding: 48px 0 0 0;

  .tablet ({
    padding: 72px 0 0 0;
  });

  .desktop ({
    padding: 61px 0 0 0;
  });
}

.form__select {
  margin-bottom: 30px;

  @media (min-width: 460px) {
    margin-bottom: 0;
  }

  .tablet ({
    margin-bottom: 50px;
  });

  .desktop ({
    margin-bottom: 57px;
  });
}

.form__type {
  margin-bottom: 31px;

  .tablet ({
    margin-bottom: 48px;
  });
}

.form__delivery-method {
  margin-bottom: 31px;

  .tablet ({
    margin-bottom: 43px;
  });

  .desktop ({
    margin-bottom: 45px;
  });
}

.form__your-contacts {
  margin-bottom: 31px;

  .tablet ({
    margin-bottom: 39px;
  });

  .desktop ({
    margin-bottom: 51px;
  });
}

.form__button {
  width: calc(100% - 4px);

  .tablet ({
    width: 336px;
    margin: 0 auto;
  });

  .desktop ({
    margin-left: 199px;
    padding-top: 16px;
    padding-bottom: 18px;
  });
}

