.form {
  .line-leaf ();
  position: relative;
  padding: 82px 0 0 0;
  display: flex;
  flex-direction: column;
}

.form__select {
  margin-bottom: 36px;
}

.form__type {
  margin-bottom: 36px;
}

.form__delivery-method {
  margin-bottom: 36px;
}

.form__your-contacts {
  margin-bottom: 29px;
}

.form__button {
  padding: 16px 0;
}

