.input {
  font-family: "Raleway", "Arial", sans-serif;
  padding: 0;
  box-sizing: border-box;
  border: none;
  padding: 16px 12px;
  border: 1px solid @green;
  font-size: 16px;
  line-height: 20px;
  outline: none;
  color: @gray;
  border-radius: 20px;

  // состояние input - error
  &--error {
    border: 1px solid @red;
  }

  // состояние input - disabled
  &--disabled {
    border: 1px solid @gray;
  }

  &:hover {
    border: 1px solid @green-hover;
  }

  &:focus {
    border: 1px solid @green-hover;
    color: @black;
  }
}
