.input {
  font-family: "Raleway", "Arial", sans-serif;
  padding: 0;
  box-sizing: border-box;
  border: none;
  padding: 16px 0 16px 12px;
  border: 2px solid @green;
  font-size: 16px;
  line-height: 20px;
  outline: none;
  color: @gray;
  border-radius: 20px;
}
