.logo {
  display: block;

  svg {
    fill: none;
  }

  .tablet ({
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo__image {
      width: 60px;
      height: 60px;
      position: relative;
      left: -5px;
      bottom: 5px;
    }
  });
}

.logo__text {
  display: none;

  .tablet ({
    display: block;
  });
}
