.logo {
  display: block;

  &:hover {
    .logo__image {
      color: @green-hover;
    }
  }

  &:active {
    .logo__image {
      color: fade(@green, 50%);
    }
  }

  .tablet ({
    width: 133px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:hover {
      .logo__text {
        fill: @green-hover;
      }
    }

    &:active {
      .logo__text {
        fill: fade(@green, 50%);;
      }
    }
  });

  .desktop ({
    width: 136px;
  });

  &--unactive {
    &:hover {
      .logo__image {
        color: @green;
      }

      .logo__text {
        fill: @green;
      }
    }

    &:active {
      .logo__image {
        color: @green;
      }

      .logo__text {
        fill: @green;
      }
    }
  }
}

.logo__image {
  fill: none;
  color: @green;
  flex: none;

  .tablet ({
    width: 60px;
    height: 60px;
  });
}

.logo__text {
  display: none;

  .tablet ({
    flex: none;
    display: block;
    fill: @green;
  });
}
