.main-list {
  .list ();
  font-family: "Raleway";
  display: none;
}

.main-list__link {
  display: block;
  font-size: 20px;
  text-decoration: none;
  color: @black;
  padding: 16px 0 16px 40px;
}
