.navigation__main-list {
  position: absolute;
  left: 0;
  z-index: 2;
  top: 67px;
  background-color: rgb(241 246 252);
  width: 100%;
  box-sizing: border-box;
  padding: 16px 0 136px;
}

.navigation__button {
  padding: 0;
  background: none;
}
