.news {
  .line-leaf ();
  padding-top: 96px;
  padding-bottom: 64px;
  position: relative;
}

.news__title {
  margin-bottom: 64px;
}

.news__content {
  .list ();
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

.news__card {
  width: 268px;

  .tablet ({
    width: 348px;
  })
}
