.order {
  background: url("../img/background-image-order-mobile.jpg") no-repeat;
  background-size: 100% 120px;
  padding-top: 194px;
}

.order__title {
  margin-bottom: 35px;
}

.order__text {
  text-align: center;
  margin: 0;
  margin-bottom: 45px;
}
