.product {
  background-color: @white;
  border-radius: 40px;
  filter: drop-shadow(0px 4px 4px rgba(88, 13, 101, 0.15));
}

.product__block {
  padding: 28px 20px 54px 24px;
}

.product__link {
  display: block;
  text-decoration: none;
  width: 184px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 28px;
}

.product__title {
  font-size: 28px;
  color: @green;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 400;
  margin: 0;
}

.product__image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 40px 40px 0px 0px;
}

.product__characteristics {
  margin: 0;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  font-style: normal;
  display: flex;
  column-gap: 12px;
  justify-content: center;
  margin-bottom: 38px;
}

.product__weight {
  margin: 0;
}
