.select {
  border: none;
  padding: 0;
  margin: 0;

  .tablet ({
    padding: 0 47px;
  });

  .desktop ({
    padding: 0;
  });
}

.select__wrapper {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-auto-flow: dense;
  grid-auto-rows: 1fr;
  row-gap: 32px;
  column-gap: 20px;

  .tablet ({
    grid-template-rows: repeat(4, 1fr);
    row-gap: 24px;
  });

  .desktop ({
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 118px 115px 117px 134px 115px;
    column-gap: 48px;
    row-gap: 24px;
  });
}

.select__title {
  padding: 0;
  font-size: 20px;
  color: @green;
  width: 100%;
  margin-bottom: 32px;

  .tablet ({
    font-size: 28px;
    margin-bottom: 40px;
  });

  .desktop ({
    margin-bottom: 48px;
  });
}

.select__checkbox-mark {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  flex: none;
  border-radius: 5px;
  border: 2px solid @green;
}


.select__input[type="checkbox"]:checked + .select__checkbox-mark::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 2px;
  transform: rotate(45deg);
  top: 10px;
  left: 4.7px;
  background-color: @green;

  .tablet ({
    top: 10.5px;
    left: 3.5px;
  });

  .desktop ({
    left: 4.5px;
  });
}

.select__input[type="checkbox"]:checked + .select__checkbox-mark::after {
  content: "";
  position: absolute;
  top: 9.5px;
  right: 2.5px;
  transform: rotate(-45deg);
  width: 10px;
  height: 2px;
  background-color: @green;

  .tablet ({
    top: 9px;
    right: 3.5px;
  });

  .desktop ({
    right: 3px;
  });
}

.select__label {
  display: flex;
  align-items: center;
  column-gap: 12px;
  font-size: 16px;

  &--disabled {
    .select__checkbox-mark {
      border: 2px solid @gray;
    }

    .select__input[type="checkbox"]:checked + .select__checkbox-mark::before {
      display: none;
    }

    .select__input[type="checkbox"]:checked + .select__checkbox-mark::after {
      display: none;
    }
  }

  &:hover:not(&--disabled) {
    color: @green-hover;

    .select__checkbox-mark {
      border: 2px solid @green-hover;
    }

    .select__input[type="checkbox"]:checked + .select__checkbox-mark::before {
      background-color: @green-hover;
    }

    .select__input[type="checkbox"]:checked + .select__checkbox-mark::after {
      background-color: @green-hover;
    }
  }

  &:focus-within:not(&--disabled) {
    color: @green-hover;

    .select__checkbox-mark {
      border: 2px solid @green-hover;
    }

    .select__input[type="checkbox"]:checked + .select__checkbox-mark::before {
      background-color: @green-hover;
    }

    .select__input[type="checkbox"]:checked + .select__checkbox-mark::after {
      background-color: @green-hover;
    }
  }

  &--blueberry {
    grid-column: 1 / 2;
  }

  &--blackberry {
    grid-column: 1 / 2;
  }

  &--stawberry {
    grid-column: 1 / 2;
  }

  &--cranberry {
    grid-column: 1 / 2;
  }

  &--gooseberry {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }

  .tablet ({
    font-size: 18px;

    &--gooseberry {
      display: none;
    }

    &--raspberry {
      display: none;
    }

    &--cherry {
      grid-column: 1 / 2;
    }

    &--stawberry {
      grid-column: 2 / 3;
    }

    &--cranberry {
      grid-column: 2 / 3;
    }
  });

  .desktop ({
    &--gooseberry {
      display: flex;
    }

    &--raspberry {
      display: flex;
    }

    &--blackberry {
      grid-column: 2 / 3;
    }

    &--stawberry {
      grid-column: 3 / 4;
    }

    &--cranberry {
      grid-column: 3 / 4;
    }

    &--gooseberry {
      grid-column: 4 / 5;
    }

    &--blueberry {
      grid-column: 2 / 3;
    }

    &--bilberry {
      grid-column: 5 / -1;
      grid-row: 1 / 2;
    }
  });
}
