.social-list {
  .list ();
  display: grid;
  grid-template-columns: repeat(auto-fit, 32px);
  max-width: 136px;
  gap: 20px;
  margin-left: auto;
}

.social-list__link {
  svg {
    fill: none;
  }
}
