@tablet-width: 768px;
@desktop-width: 1440px;

@black: #000000;
@white: #fbfcfe;
@gray: #8e9892;
@blue-gray: #f1f6fc;
@purple: #6a107a;
@purple-hover: #b22ec8;
@green: #0f805d;
@green-hover: #7bdb0a;
@green-active: rgba(15, 128, 93, 0.5);
@red: #ff8282;
